* {
  box-sizing: border-box !important;
}

p {
  margin: 0;
}

.header-top {
  background-color: #4a4a4a;
}

.header-bottom {
  padding: 0.8rem 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.main-navbar {
  display: block;
}

.nav a:hover {
  background: transparent !important;
}

.nav a,
.nav p {
  font-family: 'Cabin', sans-serif;
  padding: 5px 10px;
  color: #f4ca0c;
  font-size: 1.3rem;
}


#header {
  box-shadow: 0 3px 2px #8a8a8a;
}

#header-title {
  color: #9a9a9a;
  font-weight: 100;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 5px;
  text-shadow:
}

#header-title .first-word,
#cpa-advisors-text
 {
  color: #619081;
  font-weight: bold;
}

#header-title .first-word {
  text-shadow: -1px 0 1px lightgray;
}

#header-title .last-world {
  color: #618aa4;
  font-weight: normal;
  text-shadow: 1px 0 1px lightgray;
}

#cpa-advisors-text {
  font-family: 'Cabin', sans-serif;
  font-size: 1.8rem;
  letter-spacing: 2px;
  padding-bottom: 1rem;
}

#header .nav-phone {
  margin-left: auto;
}

#header .nav-phone a {
  font-size: 1.8rem;
  font-weight: bold;
}

i {
  padding-right: 8px;
}


#search-box {
  padding: 8px 16px;
  text-align: right;
  background-color: #e5e9ed;
  position: relative;
  right: 20px;
}

#search-box input {
  border: none;
  text-align: right;
  padding-right: 5px;
  background-color: #e5e9ed;
  color: #619081;
  font-family: 'Cabin', sans-serif;
  font-size: 1.2rem;
  padding-top: 8px;
}

#search-box input:focus {
  outline: none;
}

#search-icon {
  color: #619081;
  font-size: 1.5rem;
}

#search-icon:hover {
  cursor: pointer;
}

.search-row {
  padding-top: 1rem;
}

.header-nav-link {
  color: #619081 !important;
  font-size: 1.8rem !important;
  padding: 0 5px !important;

}

.main-navbar {
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.menu-toggler {
  color: #619081;
}

#nav-menu {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 992px) {
  #search-box {
    right: 0;
  }
}
